*{

}

body{
    background-color: #002161;
    font-size: 16px;
    color: #FFFF;
    font-family: sans-serif;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #002369;
    height: 4em;
}

header h1{
    text-align: center;
}

img{
    max-width: 100%;
    width: 20%;
    border-radius: 18px;
    height: auto;
}

main{
    background-color: #001849;
}
