*{

}

body{
    background-color: #002161;
    font-size: 16px;
    color: #FFFF;
    font-family: sans-serif;
}

header{
    background-color: #002369;
    height: 4em;
}

header h1{
    text-align: center;
}

img{
    width: 20%;
    border-radius: 18px;
}

main{
    background-color: #001849;
}
